body {
    font-family: 'Lora', serif;
    font-weight: bold;
    background-color: rgb(141,211,199);
    color: rgb(251,128,114);
}
h1#title {
    background: url('../images/header.png') no-repeat top center;
    line-height: 320px;
    font-size: 55px;
    margin-bottom: -100px;
    color: white;
}
.container {
    background-color: white;
}
hr.dots {
    height: 0;
    width: 400px;
    border-style: dotted;
    border-width: 16px 0 0 0;
    border-color: gray;
    display: inline-block;
}
#footer {
    padding-bottom: 50px;
}
a.muted {
    text-decoration: none;
    color: rgb(190,186,218);
}
.item {
    padding: 8px 0px;
}
.col-md-8 img {
    padding: 10px 0px;
}
