body {
    color: #F05B84;
    background-color: #0C587A;
    font-family: 'Arial Black', sans-serif;
    font-weight: bold;
}
h1#title {
    background: url('../images/header2.png') no-repeat top center;
    color: #FFF200;
    line-height: 220px;
    font-family: 'Gill Sans', sans-serif;
    font-size: 58px;
    margin-bottom: -60px;
}
.container {
    background-color: white;
}
hr.dots {
    height: 0;
    width: 400px;
    border-style: dotted;
    border-width: 16px 0 0 0;
    border-color: gray;
    display: inline-block;
}
#footer {
    padding-bottom: 50px;
}
a:hover {
    text-decoration: none;
    color: #F05B84;
}
a {
    color: #F05B84;
}
.item {
    padding: 8px 0px;
}
.pink {
    color: #F05B84;
}
.gold {
    color: #D1AB1F;
}
.deepred {
    color: #52000C;
}
.blue {
    color: #0C587A;
}
.lightblue{
    color: #45B4BD;
}
