<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body id="header" class="text-center">
    <div class="jumbotrom">
        <div class="container">
            {% include header.html %}
        </div>
    </div>
    <div id="body" class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="item">
                    <!--a class="muted" href="rsvp"--><img alt="Save the Date" src="images/save-the-date.png"><!--RSVP/a-->
                </div>
                <div class="item">
                    <a class="muted" href="registry"><img alt="Make a Gift" src="images/gift-reg.png">Gift Ideas</a>
                </div>
                <div class="item">
                    <a class="muted" href="faq"><img alt="FAQ" src="images/FAQ.png">FAQ</a>
                </div>
            </div>
            <div class="col-md-8">{{ content }}</div>
            <div class="col-md-2">
                <div class="item">
                    <a class="muted" href="photos"><img alt="Photos" src="images/photos.png">Photos</a>
                </div>
                <div class="item">
                    <a class="muted" href="contact"><img alt="Contact Us" src="images/letters.png">Drop Us a Love Note</a>
                </div>
                <div class="item">
                    <a class="muted" href="lodging"><img alt="FAQ" src="images/lodging.png">Lodging</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="container">
        {% include footer.html %}
    </div>
    {% include foot.html %}
</body>

</html>
